<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title> ویرایش کاربر | پروژه دانشجویی ماهان پناهی</title>
</head>
<body>
    {% include "././navbar.html" %}

    <div class="container">
        <div class="row mt-4">
            {% include "./admin/menu.html" %}
            <div class="col-8 bg-light bg-surface">
                <h5 class="mt-3 text-primary text-center">بخش ویرایش کاربر</h5>
                <hr>
                <form action="{{ url_for('edit_user') }}" method="post" novalidate>
                    {{ form.csrf_token }}
                    {% for field, error in form.errors.items() %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ " , ".join(error) }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endwith %}

                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text info-bg-primary-left" id="basic-addon1">نام و نام خانوادگی</span>
                            {{ form.full_name(class="form-control info-bg-color-left text-secondary", value=user.full_name) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text info-bg-primary-left" id="basic-addon1">کد ملی</span>
                            {{ form.national_code(class="form-control info-bg-color-left text-secondary", value=user.national_code) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text info-bg-primary-left" id="basic-addon1">شماره تلفن</span>
                            {{ form.phone(class="form-control info-bg-color-left text-secondary", value=user.phone) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text info-bg-primary-left" id="basic-addon1">موجودی حساب</span>
                            {{ form.wallet(class="form-control info-bg-color-left text-secondary", value=user.wallet) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text info-bg-primary-left" id="basic-addon1">ادمین</span>
                            {{ form.admin(class="form-control info-bg-color-left text-secondary", value=user.admin) }}
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <div class="mb-3">
                        <div class="form-group">
                            {{ form.submit(class="btn green-button w-100") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "./footer.html" %}
</body>
</html>