<div class="col-4">
    <div class="card">
        <div class="card-header text-center">پنل ادمین | Admin Dashboard</div>
        <div class="card-body text-center justify-content-center">
            <ul class="list-group">
                <li class="list-group-item primary-button"><a href="{{ url_for('account_info') }}" class="text-light">نمایش پروفایل</a></li>
                <li class="list-group-item green-button"><a href="{{ url_for('wallet_increase') }}" class="text-light">افزایش موجودی</a></li>
                <li class="list-group-item warning-button"><a href="{{ url_for('del_ticket') }}" class="text-light">حذف بلیط</a></li>
            </ul>
        </div>
    </div>
</div>
