<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>پنل ادمین | پروژه دانشجویی ماهان پناهی</title>
</head>
<body>
    {% include "./navbar.html" %}

    <div class="container">
        <div class="row mt-4">
            {% include "admin/menu.html" %}
        </div>
    </div>

    {% include "./footer.html" %}
</body>
</html>