<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>افزودن پرواز | پروژه دانشجویی ماهان پناهی</title>
</head>
<body>
    {% include "././navbar.html" %}

    <div class="container">
        <div class="row mt-4">
            {% include "./admin/menu.html" %}
            <div class="col-8 bg-light bg-surface">
                <h5 class="mt-3 text-primary text-center">بخش افزودن پرواز</h5>
                <hr>
                <form action="{{ url_for('add_flight') }}" method="post" novalidate>
                    {{ form.csrf_token }}
                    {% for field, error in form.errors.items() %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ " , ".join(error) }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endwith %}

                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">نام هواپیما</span>
                        <select name="airplane_id" class="form-control info-bg-color-left text-info">
                            {% for airplane in airplanes %}
                                <option value="{{ airplane.id }}">{{ airplane.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">مبدا</span>
                        {{ form.origin(class = "form-control info-bg-color-left text-info") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">مقصد</span>
                        {{ form.destination(class = "form-control info-bg-color-left text-info") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">تاریخ رفت</span>
                        {{ form.departure_date(class = "form-control info-bg-color-left text-info", placeholder="YYYY-MM-DD") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">تاریخ فرود</span>
                        {{ form.arrival_date(class = "form-control info-bg-color-left text-info", placeholder="YYYY-MM-DD") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">زمان رفت</span>
                        {{ form.departure_time(class = "form-control info-bg-color-left text-info", placeholder="HH:MM") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">زمان فرود</span>
                        {{ form.arrival_time(class = "form-control info-bg-color-left text-info", placeholder="HH:MM") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">قیمت بلیط Economy</span>
                        {{ form.economy_price(class = "form-control info-bg-color-left text-info", placeholder="3000000") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">قیمت بلیط Business</span>
                        {{ form.business_price(class = "form-control info-bg-color-left text-info", placeholder="8000000") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text info-bg-primary-left" id="basic-addon1">قیمت بلیط Vip</span>
                        {{ form.vip_price(class = "form-control info-bg-color-left text-info", placeholder="12000000") }}
                    </div>
                    <div class="input-group mb-3 mt-3">
                        {{ form.submit(class="btn green-button w-100") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "./footer.html" %}

</body>
</html>